.sortable {
    padding: 5px 30px;
    
}
.sortable li {
    cursor: pointer;    
}

.sortable li > span {
    background-color: gold;
}

.sortable li span > a {
    display: none;
    padding-left: 15px;
    background-color: white;
}

.sortable li span:hover > a {
    display: inline;
}



.ui-state-highlight { 
    height: 1.5em; 
    line-height: 1.2em; 
    background-color: gray;
}

#construct {
    margin-top: 15px;
}

#construct > div.card {
    margin: 15px 0;
}