.section-list {
    padding: 5px 30px;
    
}
.section-list li {
    cursor: pointer;    
}

.section-list li > span {
    background-color: gold;
}

.section-list li span > a {
    display: none;
    padding-left: 15px;
    background-color: white;
}

.section-list li span:hover > a {
    display: inline;
}

.ui-state-highlight { 
    height: 1.5em; 
    line-height: 1.2em; 
    background-color: gray;
}

#construct {
    margin-top: 15px;
}

#construct li > div.card {
    margin: 15px 0;
}

.mono {
    font-family: monospace;
}

#construct-panel {
    margin: 15px 0;
}

#construct ul {
    padding: 0;
}

#construct li {
    list-style-type: none;
}